certifi==2020.4.5.1
cycler==0.10.0
decorator==4.4.2
easydict==1.9
imageio==2.8.0
joblib==0.15.1
kiwisolver==1.2.0
matplotlib==3.2.1
networkx==2.4
numpy==1.22.0
Pillow==7.1.2
pyparsing==2.4.7
python-dateutil==2.8.1
PyWavelets==1.1.1
PyYAML==5.3.1
scikit-image==0.17.2
scikit-learn==0.23.1
scipy==1.4.1
six==1.15.0
termcolor==1.1.0
threadpoolctl==2.1.0
tifffile==2020.5.30
torch==1.4.0
torchvision==0.5.0
